body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #004643;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin: 7px;
}

h1,
h2,
h3,
h4 {
    color: #fffffe;
}

p,
text,
li,
ul {
    color: #abd1c6;
}

a,
button {
    border-radius: 5px;
    color: #fffffe;
    text-decoration: none;
}

button {
    background-color: #f9bc60;
}



.header {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}


h2 {
    text-align: center;
    font-weight: 1000;
}

h3 {
    font-weight: 700;
}


.nav__user-logo {
    border-radius: 50%;
    width:  40px;
    height: 40px;
}

/* footer */
/* DROPPO */
.nav__dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}


.nav__link-buttons {
    border: 1px solid rgba(253, 253, 253, 0.473);
    margin: 10px;
    font-weight: 1000;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.nav__menu-button {
    display: none;
    font-weight: 1000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}



.nav__dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251, 247, 247, 0.025);
    border-radius: 10px;
}


/* main  */

main {
    color: #e8e4e6;
    padding: 5px;
    margin:auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* home page */


.greeting-with-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../photo/mypicture.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    margin-top: 0px;
    height: 600px;
    border-radius: 10px;
}

.greeting-with-photo__message {
    text-align: center;
    padding: 20px;
}

.greeting-with-photo__message h4 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin: 0;

}

#cursor {
    color: #abd1c6;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

.introduction__video video{
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction__text p{
    text-align: center;
}

.contact-info h3{
    margin-left: 20px;
}


.contact-info__details {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
}
    
.contact-info__social-links {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;        
}
    

.contact-info__social-links a {
    margin: 10px;

}


.contact-info__social-links a img {
    border-radius: 50%;
}





/* footer */
.footer {
    display: flex;
    flex-direction: column;

    padding-left: 15px;
    margin: auto;
}

.footer__pages-info{
    display: flex;
    justify-content: space-between;
}

.footer__page-info{
    margin-right: 20px;
}

.footer__page-title{
    color: #fffffe;
}

.footer__page-unordered-list{
    color: #abd1c6;
}

.footer__social-media-icon{
    border-radius: 50%;
    transform: scale(0.5);
}
footer table,
p {
    display: flex;
    justify-content: center;
}


.footer__credits{
    display: flex;
    justify-content: center;
    color: #abd1c6;
}




/* about page */



.about-introduction__image {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.education-skills {
    display: flex;
    flex-direction: column;
}

.education-skills__education,
.education-skills__skills {
    display: flex;
    flex-direction: column;
}

.about-introduction__text{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    text-indent: 20px;
    max-width: fit-content;
    overflow-wrap: break-word;
}



.education-skills__education li, .education-skills__skills li {
    font-weight: bold;
}

.education-skills__education ul ul li {
    font-style: normal;
    font-weight: normal;
}


.education-skills__skills li ul li {
    font-style: italic;
    font-weight: normal;
}



.advanced {
    color: rgb(153, 218, 153);
}

.intermediate {
    color: orange;
}

.beginner {
    color: red;
}


/* projects page  */

.projects {
    display: flex;
    flex-direction: column;
}

.projects__each-project {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.projects__each-project__text {
    text-indent: 10px;
    padding: 5px;
}

.projects__each-project__button {
    margin-bottom: 5px;
}

.projects__each-project__button:hover .projects__each-project__button {
    color: pink;
}

.projects__each-project__image {
    width: 98%;
    border-radius: 10px;
}


/* travel page */



.visted-places,
.planned-places {
    display: flex;
    flex-direction: column;
}

.visted-places__inner-box,
.planned-places__inner-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid grey;
    border-radius: 10px;

    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 20px;
   }

.visted-places__inner-box__image,
.planned-places__inner-box__image {
    margin-inline-start: 0px;
    margin-inline-end: 20px;
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid lightgrey;
}


.visted-places__inner-box__message h3, .planned-places__inner-box__message h3{
    text-align: center;
}

.visted-places__inner-box__message p, .planned-places__inner-box__message p{
    margin: 10px;
}




/* hobbies page */

.hobbies-box {
    border: 1px solid grey;
    border-radius: 10px;
    text-indent: 5px;
    margin-bottom: 5px;
}

.hobbies-box__image {
    width: 100%;
    height: 20em;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.hobbies-box__text p {
    margin: 5px;
    text-indent: 10px;
}

.hobbies-box__text h3 {
    text-align: center;
}


.resume-box iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.resume-box {
    width: 100%;
    height: 70vh;
}


.resume-box__download {
    display: flex;
    justify-content: center;
    margin-top: 1px;

}
@media (min-width: 470px) {
    .introduction {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .footer__pages-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .education-skills__skills__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .education-skills__education,
    .education-skills__skills {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .about-introduction {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .projects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        flex-wrap: wrap;
        
    }

    .projects__each-project {
        max-width: 30%;
    }

    
    .visted-places__inner-box,
    .planned-places__inner-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    } 

    .hobbies-box{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    


}

@media (max-width: 470px){
    .nav__dropdown-content {
        display: none;
    }

    .nav__menu-button {
        display: block;
    }

    
    .nav__dropdown:hover .nav__dropdown-content {
        transition: 1.5s ease;
        display: flex;
        flex-direction: column;
        top: 100%;
        background-color: rgba(253, 253, 253, 0.473);
        width: 100%;
        border-radius: 10px;
    }
    .nav__dropdown:hover .nav__menu-button {
        display: none;
    }
    
   
}

@media (min-width: 470px) and (max-width:600px){
    .nav__link-buttons{
        margin: 1px;
    }
}




.about-introduction, .education-skills{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.about-introduction.in-view, .education-skills.in-view{
    opacity: 1;
    transform: translateY(0);
}


.projects__each-project {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;  
}  

.projects__each-project.in-view {
    opacity: 1;
    transform: translateY(0);
}


.visted-places__inner-box,
.planned-places__inner-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.visted-places__inner-box.in-view,
.planned-places__inner-box.in-view {
  opacity: 1;
  transform: translateY(0);
}


.hobbies-box{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.hobbies-box.in-view{
    opacity: 1;
    transform: translateY(0);
}

