body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #004643;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    max-width: 100%;
    max-height: 100%;
    margin: 7px;
}

h1,
h2,
h3,
h4 {
    color: #fffffe;
}

p,
text,
li,
ul {
    color: #abd1c6;
}

a,
button {
    border-radius: 5px;
    color: #fffffe;
    text-decoration: none;
}

button {
    background-color: #f9bc60;
}



header {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}


h2 {
    text-align: center;
    font-weight: 1000;
}

h3 {
    font-weight: 700;
}


.user-logo {
    border-radius: 50%;
    width:  40px;
    height: 40px;
}

/* footer */
/* DROPPO */
.dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}
.dropbtn {
    display: none;
}



.nav-link-buttons {
    border: 1px solid rgba(253, 253, 253, 0.473);
    margin: 10px;
    font-weight: 1000;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.dropbtn {
    font-weight: 1000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}



.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251, 247, 247, 0.025);
    border-radius: 10px;
}

/* home page */
/* main  */
main {
    color: #e8e4e6;
    padding: 5px;
    margin:auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.greeting-with-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../photo/mypicture.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    margin-top: 0px;
    height: 600px;
    border-radius: 10px;
}

.greeting-message {
    text-align: center;
    background-color: rgba(253, 253, 253, 0.473);
    padding: 20px;


}

.greeting-message h4 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin: 0;

}

.introduction video {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction p {
    text-align: center;
}

.contact-info h3 {
    margin-left: 20px;
}
.home-contact {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
    }
    
    .contacts-at-home {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
    }
    
    .contacts-at-home {
        width: 50%;

}

.contacts-at-home a {
    margin: 10px;

}

/* footer */
footer {
    display: flex;
    flex-direction: column;

    padding-left: 15px;
    margin: auto;
}

footer table,
p {
    display: flex;
    justify-content: center;
}


.contacts-at-home a img {
    border-radius: 50%;
}

footer a img {
    border-radius: 50%;
    transform: scale(.5);
}


/* about page */


.about-introduction img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.education-skills {
    display: flex;
    flex-direction: column;
}

.education,
.skills {
    display: flex;
    flex-direction: column;
}

.about-introduction p {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    text-indent: 20px;
    max-width: fit-content;
    overflow-wrap: break-word;
}



.education li {
    font-weight: bold;
}

.education ul ul li {
    font-style: normal;
    font-weight: normal;
}

.skills li {
    font-weight: bold;
}

.skills li ul li {
    font-style: italic;
    font-weight: normal;
}



.advanced {
    color: rgb(153, 218, 153);
}

.intermediate {
    color: orange;
}

.beginner {
    color: red;
}


/* projects page  */

.projects {
    display: flex;
    flex-direction: column;
}

.each-project {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.each-project p {
    text-indent: 10px;
    padding: 5px;
}

.each-project button {
    margin-bottom: 5px;
}

.each-project button:hover {
    color: pink;
}

.projects-image {
    width: 98%;
    border-radius: 10px;
}


/* travel page */



.visted,
.planned {
    display: flex;
    flex-direction: column;
}

.visted-places-inner-box,
.planned-places-inner-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid grey;
    border-radius: 10px;

    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 20px;
   }

.visted-places-inner-box img,
.planned-places-inner-box  img {
    margin-inline-start: 0px;
    margin-inline-end: 20px;
    height: 100%;
}

.visted-places-inner-box h3, .planned-places-inner-box h3{
    text-align: center;
}

.visted-places-inner-box p, .planned-places-inner-box p{
    margin: 10px;
}

.visted-places-inner-box img,
.planned-places-inner-box img {
    max-width: 100%;
    height: 100%;


    border-radius: 10px;
    border: 1px solid lightgrey;
}


/* hobbies page */

.hobbies-box {
    border: 1px solid grey;
    border-radius: 10px;
    text-indent: 5px;
    margin-bottom: 5px;
}

.hobbies-box img {
    width: 100%;
    height: 20em;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.hobbies-box div p {
    margin: 5px;
    text-indent: 10px;
}

.hobbies-box div   h3 {
    text-align: center;
}


.resume-box iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.resume-box {
    width: 100%;
    height: 70vh;
}


.download {
    display: flex;
    justify-content: center;
    margin-top: 1px;

}
@media (min-width: 470px) {
    .introduction {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .footer-pages-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .skills-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .education,
    .skills {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .about-introduction {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .projects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        flex-wrap: wrap;
        
    }

    .each-project {
        max-width: 30%;
    }

    
    .visted-places-inner-box,
    .planned-places-inner-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    } 

    .hobbies-box{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    


}

@media (max-width: 470px){
    .dropdown-content {
        display: none;
    }

    .dropbtn {
        display: block;
    }

    
    .dropdown:hover .dropdown-content {
        transition: 1.5s ease;
        display: flex;
        flex-direction: column;
        top: 100%;
        background-color: rgba(253, 253, 253, 0.473);
        width: 100%;
        border-radius: 10px;
    }
    .dropdown:hover .dropbtn {
        display: none;
    }
    
   
}

@media (min-width: 470px) and (max-width:600px){
    .nav-link-buttons{
        margin: 1px;
    }
}